*.o
*.sublime-workspace

client/build-debug/
client/build-release/
client/CMakeCache.txt
client/cmake_install.cmake
client/install_manifest.txt
client/CMakeFiles/
client/Makefile
client/Aurora
client/Aurora.exe